textarea
{
  width:100%;
  background: #282c34;
  border: none;
  height: 20%;
  resize: none;
  color: white;
  margin-top: 0px;
  padding-left: 10px;
}

.textwrapper
{
  border:1px solid #999999;
  margin:5px 0;
  padding:3px;
}
