.menu {
    display: flex;
    gap: 20px;
    background: #282c34;
    color: white;
    margin: 0px;
    padding-left: 10px;
    height: 30px;
    font-variant: small-caps;
}

h2 {
    margin: 0px;
}

img {
    background: none;
    background-image: none;
}

<!-- HTML !-->
<button class="button-31" role="button">Button 31</button>

/* CSS */
button {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

button:hover,
button:focus {
  opacity: .75;
}
