.menu {
    display: flex;
    padding-right: 10px;
    justify-content: space-between;
    gap: 20px;
    background: #282c34;
    color: white;
    margin: 0px;
    padding-left: 10px;
    height: 30px;
    font-variant: small-caps;
}

form {
  margin: 0px;
  display: flex;
}

#button-zone {
  display: flex;
  gap: 10px;
}

h2 {
    margin: 0px;
}

img {
    background: none;
    background-image: none;
}

button {
  font-variant: small-caps;
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
}
