@font-face {
    font-family: 'Droid';
    src: url('DroidSansMono-webfont.eot');
    src: url('DroidSansMono-webfont.eot?#iefix') format('embedded-opentype'),
         url('DroidSansMono-webfont.woff2') format('woff2'),
         url('DroidSansMono-webfont.woff') format('woff'),
         url('DroidSansMono-webfont.ttf') format('truetype'),
         url('DroidSansMono-webfont.svg#droid_sans_monoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

