@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400&display=swap');



body {
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Source Serif Pro', serif;
    font-size: 16px;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.15;
    color: black;
	background: linear-gradient(-45deg, #FFFFFF, ##F5F5DC, #FDF4E3 , #F9F9FB);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

li {
    margin-top: 5px;
    line-height: 1.5;
}

p {
    line-height: 150%;
    text-align: justify;
    text-justify: inter-word;
}

code {
        font-family: "Inconsolata", "monospace";
        font-size: 16px;
    }

p>code, li>code {
        background-color: #eee;
        padding: 0.25em;
    }

h1, h2, h3 {
        font-family: "Source Serif Pro", Helvetica, Arial, sans-serif;
    }

h1 {
        font-size: 4em;
}

b {
        font-weight: 900;
        color: #6434A3;
        text-shadow: 1px 0 #888888;
        letter-spacing:2px;
        font-weight:bold;
}

.title {
        text-align: center;
}

span.subtitle {
        font-size: 20px;
}

h2 {
        border-style: dotted none;
        padding-top: 0.5em;
        padding-bottom: 1em;
        font-size: 1.75em;
    }

h3 {
        margin-top: 2em;
        font-size: 1.5em;
        border-bottom: dotted;
        padding-bottom: 0.5em;
    }

h4 {
        font-size: 1.25em;
    }

h5 {
        font-size: 1em;
    }

h2 code, h3 code, h4 code, h5 code, td code {
        font-family: inherit !important;
        font-size: inherit !important;
    }

td code {
        font-weight: bold;
    }

a:link, a:hover, a:visited {
                         text-decoration: none;
                         color: black;
                     }

a:link {
        background: #FAF0E6;
    }

a:visited {
        color: #666;
        background: #ffc;
    }

a:link:hover,
a:visited:hover {
        background: #ff0;
    }

a[href^="http"] {
        background: #bff;
    }

a[href^="http"]:visited {
        background: #dff;
    }

a[href^="http"]:link:hover,
a[href^="http"]:visited:hover {
        background: #0ff;
    }

a[href^="http"]:after {
        content: "\21B3";
        background: white;
        padding-left: 0.2em;
    }

#meta {
        margin-top: 2em;
    }


#table-of-contents a:link,
#table-of-contents a:visited {
        color: black;
        background: transparent;
        transition: all .2s ease-in-out;
    }

#table-of-contents>a:hover {
        transform: scale(1.1);
}


#table-of-contents {
        line-height: 1.15;
        overflow: scroll; /* Show scrollbars */
    }
#table-of-contents h2 {
        border-bottom: 0;
    }


#table-of-contents li {
        margin-bottom: 5px;
        margin-top: 5px;
}

#table-of-contents li:first {
        margin-bottom: 5px;
        margin-top: 10px;
}


#table-of-contents ul {
        list-style: none;
        padding-left: 0.5em;
        margin-top: 5px;
        margin-bottom: 5px;
        font-weight: normal;
    }

#table-of-contents div>ul>li {
        margin-top: 1em;
        font-weight: bold;
    }

#table-of-contents .tag {
        display: none;
    }

#table-of-contents .todo,
#table-of-contents .done {
        font-size: 80%;
    }

#table-of-contents ol>li {
        margin-top: 1em;
    }

table {
        width: 100%;
    }

table, th, td {
        border: 1px solid #666;
    }

th, td {
        padding: 0.5em;
        text-align: left;
    }

tbody tr:nth-child(odd) {
        background-color: #eee;
    }

img {
        max-width: 90%;
    }

div.notice {
        position: relative;
        margin: 0 1.2em;
        padding: 0.25em 1em;
        border-left: 4px solid;
    }

table + div.notice {
        margin-top: 2em;
    }

div.notice a {
        background: transparent !important;
        border-bottom: 1px dotted;
    }

div.notice a[href^="http"]:after {
        background: transparent !important;
    }

div.notice:before {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.25em 0.5em 0;
        font-size: 60%;
        border-bottom-left-radius: 0.5em;
    }

.notice-warning {
        background: #fcc;
        color: #600;
    }

.notice-example {
        background: #def;
        color: #069;
    }

.notice-info {
        background: #efe;
        color: #060;
    }

.notice-warning a {
        color: #600;
    }

.notice-example a {
        color: #069;
    }

.notice-info a {
        color: #060;
    }

div.notice-warning:before {
        content: "WARNING";
        background: #c99;
        color: #fcc;
    }

div.notice-example:before {
        content: "EXAMPLE";
        background: #abc;
        color: #def;
    }

div.notice-info:before {
        content: "INFO";
        background: #9c9;
        color: #efe;
    }

/* things inside the #+BEGIN_NOTE...#+END_NOTE block */
div.NOTE a {
        background: transparent !important;
        border-bottom: 1px dotted;
    }

div.NOTE {
        position: relative;
        margin: 0 1.2em;
        padding: 0.25em 1em;
        border-left: 4px solid;
        margin-top: 2em;
        background: #efe;
        color: #060;
    }

div.NOTE:before {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.25em 0.5em 0;
        font-size: 60%;
        border-bottom-left-radius: 0.5em;
        content: "NOTE";
        background: #9c9;
        color: #efe;
    }

blockquote {
        padding: 10px 20px 20px 10px;
        border: 1px solid #ddd;
        background: #eee;
        box-shadow: 5px 5px 5px #eee;
        border-radius: 5px;
        line-height: 1.2em;
    }

pre {
        font-family: "Inconsolata", "monospace";
        font-size: 100%;
        border: 0;
        box-shadow: none;
        overflow: auto;
        max-height: 350px;
    }

pre.example:before {
        content: "EXAMPLE";
        display: block;
        border-bottom: 1px dotted;
        margin-bottom: 1em;
    }

pre.example {
        background: #fec;
        color: #666;
        font-size: 0.85em;
    }

pre {
        background-color: #f8f8f8;
        background-size: 8px 8px;
        background-image: linear-gradient(135deg, transparent 25%, rgba(0, 0, 0, 0.02) 25%, rgba(0, 0, 0, 0.02) 50%, transparent 50%, transparent 75%, rgba(0, 0, 0, 0.02) 75%, rgba(0, 0, 0, 0.02));
    }

pre.src {
        padding: 0.5em;
    }

pre.src:before {
        display: block;
        position: absolute;
        background-color: #ccccd0;
        top: 0;
        right: 0;
        padding: 0.25em 0.5em;
        border-bottom-left-radius: 8px;
        border: 0;
        color: white;
        font-size: 80%;
    }

pre.src-python {
        color: black;
    }

pre.src-plantuml:before {
        content: "UML";
    }

pre.src-javascript:before {
        content: "JS";
    }

pre.src-clojure:before {
        content: "CLJ";
    }

pre.src-c:before {
        content: "C";
    }

pre.src-sh:before {
        content: "Shell";
    }

pre.src-es:before {
        content: "ES";
    }

span.org-string {
        color: #f94;
    }

span.org-keyword {
        color: #c07;
    }

span.org-variable-name {
        color: #f04;
    }

span.org-clojure-keyword {
        color: #09f;
    }

span.org-comment, span.org-comment-delimiter {
        color: #999;
    }

span.org-rainbow-delimiters-depth-1, span.org-rainbow-delimiters-depth-5 {
        color: #666;
    }

span.org-rainbow-delimiters-depth-2, span.org-rainbow-delimiters-depth-6 {
        color: #888;
    }

span.org-rainbow-delimiters-depth-3, span.org-rainbow-delimiters-depth-7 {
        color: #aaa;
    }

span.org-rainbow-delimiters-depth-4, span.org-rainbow-delimiters-depth-8 {
        color: #ccc;
    }

div.figure {
        font-size: 0.85em;
    }

.tag {
        font-family: "Source Serif Pro", Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        float: right;
        margin-top: 1em;
        background: transparent;
    }

.tag span {
        background: #ccc;
        padding: 0 0.5em;
        border-radius: 0.2em;
        color: white;
    }

.todo, .done {
        font-family: "Source Serif Pro", Helvetica, Arial, sans-serif;
        font-weight: normal;
        padding: 0 0.25em;
        border-radius: 2em;
    }

.todo {
        background: #f04;
        color: white;
    }

.done {
        background: #5f7;
        color: white;
    }

pre                                      {background-color:#FFFFFF;}
pre span.org-builtin                     {color:#006FE0;font-weight:bold;}
pre span.org-string                      {color:#008000;}
pre span.org-keyword                     {color:#0000FF;}
pre span.org-variable-name               {color:#BA36A5;}
pre span.org-function-name               {color:#006699;}
pre span.org-type                        {color:#6434A3;}
pre span.org-preprocessor                {color:#808080;font-weight:bold;}
pre span.org-constant                    {color:#D0372D;}
pre span.org-comment-delimiter           {color:#8D8D84;}
pre span.org-comment                     {color:#8D8D84;font-style:italic}
pre span.org-outshine-level-1            {color:#8D8D84;font-style:italic}
pre span.org-outshine-level-2            {color:#8D8D84;font-style:italic}
pre span.org-outshine-level-3            {color:#8D8D84;font-style:italic}
pre span.org-outshine-level-4            {color:#8D8D84;font-style:italic}
pre span.org-outshine-level-5            {color:#8D8D84;font-style:italic}
pre span.org-outshine-level-6            {color:#8D8D84;font-style:italic}
pre span.org-outshine-level-7            {color:#8D8D84;font-style:italic}
pre span.org-outshine-level-8            {color:#8D8D84;font-style:italic}
pre span.org-outshine-level-9            {color:#8D8D84;font-style:italic}
pre span.org-rainbow-delimiters-depth-1  {color:#707183;}
pre span.org-rainbow-delimiters-depth-2  {color:#7388d6;}
pre span.org-rainbow-delimiters-depth-3  {color:#909183;}
pre span.org-rainbow-delimiters-depth-4  {color:#709870;}
pre span.org-rainbow-delimiters-depth-5  {color:#907373;}
pre span.org-rainbow-delimiters-depth-6  {color:#6276ba;}
pre span.org-rainbow-delimiters-depth-7  {color:#858580;}
pre span.org-rainbow-delimiters-depth-8  {color:#80a880;}
pre span.org-rainbow-delimiters-depth-9  {color:#887070;}
pre span.org-sh-quoted-exec              {color:#FF1493;}


@media screen {
        h1.title {
                text-align: center;
                margin: 0.5em 0 1em 0;
            }
    
        h2 {
                margin-top: 3em;
            }
    
        #table-of-contents {
                position: fixed;
                top: 0;
                left: 0;
                padding: 2em 2em 2em 2em;
                margin-bottom: 1em;
                width: 290px;
                height: 100vh;
                font-size: 14px;
                background: #eee;
                overlow-x: hidden;
                overlow-y: auto;
            }
    
        #table-of-contents h2 {
                margin-top: 0;
            }
    
        #table-of-contents code {
                font-size: 12px;
            }
    
        div#content {
                margin-left: 320px;
                max-width: 1100px;
            }
        div#postamble {
                margin-left: 320px;
                max-width: 1100px;
            }
    }

@media screen and (max-width: 1024px) {
        html, body {
                font-size: 14px;
            }
    
        #table-of-contents {
                display: none;
            }
    
        h1.title {
                margin-left: 0%;
                text-align: center;
            }
    
        div#content {
                margin-left: 5%;
                max-width: 90%;
            }
        div#postamble {
                margin-left: 5%;
                max-width: 90%;
            }
    }

@media print {
    
        body {
                color: black;
            }
    
        @page {
                margin: 25mm;
            }
    
        h2, h3 {
                page-break-before: always;
                margin-top: 0;
            }
    
        table {
                page-break-inside: avoid;
            }
    
        a:visited {
                color: black;
                background: #ff8;
            }
    
        a[href^="http"]:visited {
            background: #bff;
        }
    
        div.notice:before {
            display: none;
        }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
