
@font-face {
	font-family: "scientifica";
	src: url('$lib/fonts/scientifica.ttf') format('truetype');
}

* {
	font-family: "scientifica", sans-serif;
}

body {
	background: #000000;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Custom white scrollbar */

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background : black;
	border: solid 1px #fff;
}

::-webkit-scrollbar-thumb {
	background: #fff;
}

/** CodeMirror overwrites */

.cm-gutters {
	background-color: black !important;
	color: white !important;
	border-right: 2px solid white !important;
}

.cm-activeLineGutter {
	background-color: #282c34 !important;
}

.cm-selectionBackground {
	background-color: #282c34 !important;
}