name: Publish
on:
  push:
    branches:
      - main
jobs:
  build:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Deploy
        uses: mhausenblas/mkdocs-deploy-gh-pages@master
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          CUSTOM_DOMAIN: sardine.raphaelforment.fr
          CONFIG_FILE: mkdocs.yml
          EXTRA_PACKAGES: build-base
